services:

  redis:
    image: redis:7-alpine
    container_name: payment_cache
    restart: unless-stopped
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - redis_data:/data
    environment:
      - REDIS_ARGS=--maxmemory 256mb --maxmemory-policy volatile-lru

  redis_insight:
    image: redis/redisinsight:latest
    container_name: redis_insight
    restart: always
    ports:
      - "8001:8001"
    environment:
    - RI_APP_PORT=8001
    - RI_APP_HOST=0.0.0.0
    - RI_REDIS_HOST=redis
    - RI_REDIS_PORT=6379
    - RI_REDIS_ALIAS=payment_cache
    depends_on:
      redis:
        condition: service_healthy

  postgres:
    image: postgres:15-alpine
    container_name: payment_db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=payment_gateway
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: src/api/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy
volumes:
  redis_data:
  redis_insight_data:
  postgres_data:
